<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}">Titulo por defecto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    <link rel="stylesheet" href="/css/estilo.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <header th:insert="~{templates/vista/reutilizable_fragments.html :: header}"></header>
        </div>

        <div class="row">
            <div class="container-fluid">
                <div class="row">

                    <nav class="col-md-3 col-lg-2 d-md-block bg-body-tertiary sidebar collapse" >
                        <nav th:insert="~{templates/vista/reutilizable_fragments.html :: sidebar}"></nav>
                    </nav>

                    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                            <h2 class="h2">Resumen para URL</h2>
                        </div>
                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                            <h4 class="h4">URL Original: <a th:text="${url_original.URLOriginal}"></a></h4>
                            <h4 class="h4">URL Corta: <span th:text="${url_acortado}"></span></h4>
                        </div>
                        <div class="col-md-auto">
                            <div class="row">
                                <div class="col-md-auto">
                                    <div class="card">
                                        <div class="card-header">
                                            QR a URL
                                        </div>
                                        <div class="card-body">
                                            <img th:src="'/qr-code/' + ${url_acortado}" alt="">
                                        </div>
                                        <div class="card-footer">
                                            <div class="row mt-2">
                                                <a th:href="'/' + ${url_acortado}" class="btn btn-warning">Dirigirse al URL</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <canvas id="myFloatingBars"></canvas>

                        <h2 class="mt-5">Tabla de datos</h2>
                        <div class="table-responsive">
                            <table class="table table-striped table-sm">
                                <thead>
                                <tr>
                                    <th scope="col">Fecha accedido</th>
                                    <th scope="col">Veces visitado</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="label, iter1 : ${labels}">
                                    <td th:text="${label}"></td>
                                    <td th:text="${data[iter1.count - 1]}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>


                    </main>
                </div>
            </div>
        </div>


        <div class="row">
            <footer th:insert="~{templates/vista/reutilizable_fragments.html :: footer}"></footer>
        </div>
    </div>

    <!-- Incluye los recursos de Chart.js y Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    <script th:inline="javascript">
        var ctx = document.getElementById('myFloatingBars').getContext('2d');
        var labels = /*aquí pasamos la lista como cadena*/ [[${labels}]];
        var data = /*aquí pasamos la lista como cadena*/ [[${data}]];
        var backgroundColors = ["#FF6384", "#36A2EB", "#FFCE56", "#8E5EA2", "#3cba9f", "#e8c3b9", "#c45850"];
        var myFloatingBars = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: "Fechas por URL",
                    data: data,
                    backgroundColor: backgroundColors
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Fechas acceso por URL'
                    }
                }
            }
        });
    </script>

</body>
</html>